extends ../../layouts/manage

block content
    section.content-header
        h1 List
            small Settings
        ol.breadcrumb
            li
                a(href=avoca_manage())
                    i.fa.fa-dashboard
                    = ' Home'
            li.active Dashboard

    section.content
        .box.box-info
            .box-header.with-border
                h3.box-title Avoca Settings

                .box-tools.pull-right
                    a.btn.btn-box-tool(href=avoca_manage(create_link))
                        i.fa.fa-plus

            .box-body
