{% if not viewdefs.disabled_search %}
    <tr>
        <td></td>
        {% for field, option in listdefs %}
            <td>
                {% if option.search %}
                    <input type="text" name="{{ field }}" value="{{ avoca_GET(field) }}" class="form-control">
                {% endif %}
            </td>
        {% endfor %}
        <td>
            <button type="submit" class="btn btn-info">{{ 'Search'|lang }}</button>
        </td>
    </tr>
{% endif %}