doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title= _pageTitle

        meta(content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name="viewport")

        include adminlte_header

    body.hold-transition.skin-blue.sidebar-mini
        .wrapper
            header.main-header
                a.logo(href=avoca_url())
                    span.logo-mini
                        strong A
                        = 'VC'
                    span.logo-lg
                        strong Avoca
                        = 'Framework'

                include admin_header

            include admin_sidbar

            .content-wrapper
                block content

            footer.main-footer
                .pull-right.hidden-xs
                    strong Version 1.0.0
                strong Copyright &copy; 2018
                    a(href="http://avoca.io") Avoca.
                    = ' All rights reserved.'

        include adminlte_footer
        include flash_notify