nav.navbar.navbar-static-top
    a.sidebar-toggle(href="", data-toggle="push-menu", role="button")
        span.sr-only Toggle navigation

    .navbar-custom-menu
        ul.nav.navbar-nav
            li.dropdown.messages-menu
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                    i.fa.fa-envelope-o
                    span.label.label-success 4
                ul.dropdown-menu
                    li.header You have 4 message
                    li
                        ul.menu
                            li
                                a(href="#")
                                    div.pull-left
                                        img.img-circle(src=avoca_static() + "/img/user2-160x160.jpg", alt="")
                                    h4 Support Team
                                        small
                                            i.fa.fa-clock-o
                                            = ' 5 mins'
                                    p Why not buy a new awesome theme?
                    li.footer
                        a(href="#") See All Message

            li.dropdown.notifications-menu
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                    i.fa.fa-bell-o
                    span.label.label-warning 10
                ul.dropdown-menu
                    li.header You have 10 notifications
                    li
                        ul.menu
                            li
                                a(href="#")
                                    i.fa.fa-users.text-aqua
                                    = ' 5 new members joined today'
                    li.footer
                        a(href="#") View All

            li.dropdown.user.user-menu
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                    img.user-image(src=avoca_static() + "/img/user2-160x160.jpg", align="")
                    span.hidden-xs Avoca Framework
                ul.dropdown-menu
                    li.user-header
                        img.img-circle(src=avoca_static() + "/img/user2-160x160.jpg", alt="User Image")
                        p Avoca Framework - Framework
                            small Member since Nov. 2018
                    li.user-body
                        .row
                            .col-xs-4.text-center
                                a(href="#") Followers
                            .col-xs-4.text-center
                                a(href="#") Sales
                            .col-xs-4.text-center
                                a(href="#") Friends
                    li.user-footer
                        .pull-left
                            a.btn.btn-default.btn-flat(href="#") Profile
                        .pull-right
                            a.btn.btn-default.btn-flat(href="#") Sign out
            li
                a(href="#", data-toggle="control-sidebar")
                    i.fa.fa-gears